<header class="header">
    <div class="header--wrapper">
        <div class="logo">
            <img src="./public/esandries-logo.svg" alt="ESandries logo " class="logo--esandries" />
            <p class="logo--with">x</p>
            <p class="logo--ctpu">CTPU</p>
        </div>
        <div class="menu">
            <img src=".//public/menu-icon.svg" alt="" class="menu--icon">
        </div>
        <nav class="navbar">
            <ul class="navbar--list">
                <li class="navbar--item">
                    <a href="" class="navbar--anchor">Acerca de</a>
                </li>
                <li class="navbar--item">
                    <a href="" class="navbar--anchor">Blog</a>
                </li>
                <li class="navbar--item">
                    <a href="" class="navbar--anchor">Admisión</a>
                </li>
                <li class="navbar--item">
                    <a href="" class="navbar--anchor">Contacto</a>
                </li>
            </ul>
        </nav>
        <div class="navbar-button">
            <p>Especialidades</p>
        </div>
    </div>
</header>