.career{
    height: 100%;
    width: calc(100% - 48PX);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-inline: 24px;
}

.careermobiledescription{
    display: none;
}

.career--cardscontainer{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    width: 100%;
}

@media (max-width: 460px) {
    .career--cardscontainer{
        overflow-x: scroll;
        display: flex;
        overscroll-behavior-x: contain;
       scroll-snap-type: x proximity;
       padding-block: 1rem;
    }
    .careermobiledescription{
        display: block;
    }
}