.hero{
    background-image: url('../public/images/photo-home.JPG');
    background-size: cover;
    background-position: center;
    height: 100%;
    align-content: center;
    display: flex;
    align-items: center;
}
.hero--container{
    max-width: 1200px;
    align-content: center;
    margin: 0 auto;
}

.hero--text{
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 800px;
    color: white;
    padding-block: 0.75rem;
    padding-inline: 1.4rem;
    border: 0.3rem solid white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    margin-inline: 24px;
}